.favoriteButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s ease-in-out;
  left: 90px;
}

.favoriteEmpty {
  color: green;
}

.favoriteMessage {
  font-size: 12px;
}

.favoriteFilled {
  color: red;
}
.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.favIcon {
  position: relative;
  color: green;
  top: 20px;
  font-size: xx-large;
}

.fav {
  position: relative;
  color: green;
  top: 15%;
  text-align: center;
}

.message {
  position: relative;
  text-align: center;
  top: 16%;
  color: green;
}
