.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 5.5rem;
  background-color: rgba(2, 111, 2, 0.767);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 100;
  box-shadow: 5px 5px 10px rgba(0, 0, 4, 0.714);
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  padding: 0;
}

.projectIcon {
  margin: 27px 0 0 10px;
}

.nav {
  margin-left: 60%;
}

.header .icon {
  color: white;
  padding: 3px;
  padding-top: 5px;
  font-weight: bold;
}

.header .recipes {
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.header .logo {
  position: relative;
  bottom: 20px;
  right: 20px;
  left: 10px;
}

.header li {
  margin: 0 var(--size-4);
  position: relative;
  left: 5px;
}

.header a {
  color: white;
  font-size: var(--size-5);
  text-decoration: none;
}

.header .icon:hover,
.header .recipes:hover,
.header .icon:active,
.header .icon.active {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .header {
    background-color: green;
    z-index: 100;
  }

  .recipes {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header a {
    color: white;
    font-size: var(--size-5);
  }

  .header a:hover,
  .header a:active,
  .header a.active {
    color: var(--color-grey-50);
  }

  /* Burger Menu for mobile View */

  .burgerMenu {
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
  }

  .burgerMenu .bar1,
  .burgerMenu .bar2,
  .burgerMenu .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  .burgerMenuOpen .bar1 {
    transform: rotate(-45deg) translate(-10px, 6px);
  }

  .burgerMenuOpen .bar2 {
    opacity: 0;
  }

  .burgerMenuOpen .bar3 {
    transform: rotate(45deg) translate(-10px, -6px);
  }

  /* Dropdown Menu */
  .menu {
    display: none;
    position: absolute;
    background-color: #282c34;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    right: 0;
    top: 70px; 
  }

  .menu select {
    background-color: #282c34;
    color: white;
    border: none;
    padding: 10px;
    font-size: var(--size-5);
    cursor: pointer;
  }

  .menu select:hover {
    color: var(--color-grey-50);
  }

  .burgerMenuOpen .menu {
    display: block;
  }
}

  .favoritesCount {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -5px;
}
  .ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.li {
  margin-right: 20px;
}

.icon a {
  text-decoration: none;
  color: #333; 
  display: flex;
  align-items: center;
}

.icon div {
  position: relative;
}
.FavIcon{
  position: relative;
  top: 30px;
}