/* RecipeDetailPage.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #474646;
    color: #fff8f8;
    padding: 20%;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff8f8;
}

.instructions {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #fff8f8;
}
/* FavoritePage */

.fav{
    display: flex;
  justify-content: center;

}

.message{
display: flex;
  justify-content: center;

}

.back-link {
  margin-bottom: 10px;
}

.back-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
}

.back-link a:hover {
  color: #313336; 
}

/* FavoritePage */

.fav{
    display: flex;
  justify-content: center;
  color: green;

}

.message{
display: flex;
  justify-content: center;

}

.back-link {
  margin-bottom: 10px;
}

.back-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
}

.favIcon{
   position: fixed;
   top:120px; 
   color: green;
   font-size: 20px;
   margin-left: 10px;
}