.footer {

    position: sticky;
    top: 0;
    width: 100vw;
    height:fit-content;
    background-color: rgba(2, 111, 2, 0.767);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 100;
    box-shadow: 5px 5px 10px rgba(0, 0, 4, 0.714);

}
.socialMedia {
  color: white;
  text-decoration: none;
  justify-content: space-around;

}

.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: underline;


}