* {
        margin: auto;
    }

    body {
        --color-grey-50: hsl(265, 55%, 96%);
        --color-grey-100: hsl(265, 19%, 88%);
        --color-grey-200: hsl(265, 7%, 70%);
        --color-grey-300: hsl(265, 6%, 66%);
        --color-grey-900: hsl(280, 5%, 13%);

        --color-primary-50: #c8b3ce;
        --color-primary-100: #a07aaa;
        --color-primary-200: #884c97;
        --color-primary-300: #843897;
        --color-primary-400: #732392;
        --color-primary-500: #5a097a;
        --color-primary-600: #480264;
        --color-primary-700: #06f776b9;

        --color-success-100: #a2f0bc;
        --color-success-500: #12bd4b;

        --color-error-100: #f1acc9;
        --color-error-500: #a10c4a;

        --size-1: 0.25rem;
        --size-2: 0.5rem;
        --size-3: 0.75rem;
        --size-4: 1rem;
        --size-5: 1.25rem;
        --size-6: 1.5rem;
        --size-8: 2rem;
        --size-16: 4rem;
        --size-20: 5rem;
        --size-40: 10rem;

      
        background-color: var(--color-grey-500);
        color: #d9f5da;
        font-family: 'Roboto', sans-serif;
    }

    h1,
    h2,
    h3 {
        font-family: 'Oswald', 'Roboto', sans-serif;
    }

    a {
        text-decoration: none;
    }

    .btn {
        font: inherit;
        cursor: pointer;
    }

    .btn {
        --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #303030;
        font-weight: bold;
        letter-spacing: 0.1em;
        border: none;
        border-radius: 1.1em;
        border: solid;
        background-color: white;
        color: rgb(84, 81, 81);
        padding: 1em 2em;
        transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
        letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
        box-shadow: 5px 5px 8px #C9C3C3;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 5px 8px;
        }
    
        .btn:hover {
            box-shadow: var(--hover-shadows);
            border: none;
        }
    
        .btn:active {
            box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
            transform: scale(0.95);
        }


        